# path-sync copy -n sdlc
name: Validate Region Mappings
# === DO_NOT_EDIT: path-sync header ===
on:
  schedule:
    - cron: '0 8 * * 1'  # Weekly on Monday at 8:00 AM UTC
  workflow_dispatch:

env:
  MONGODB_ATLAS_PROJECT_ID: ${{ vars.MONGODB_ATLAS_PROJECT_ID_SNAPSHOT_TEST }}
  MONGODB_ATLAS_CLIENT_ID: ${{ secrets.MONGODB_ATLAS_CLIENT_ID }}
  MONGODB_ATLAS_CLIENT_SECRET: ${{ secrets.MONGODB_ATLAS_CLIENT_SECRET }}
  # MONGODB_ATLAS_BASE_URL: ${{ secrets.MONGODB_ATLAS_BASE_URL }} Currently only `MONGODB_ATLAS_OPS_MANAGER_URL` is read from env-vars
  MONGODB_ATLAS_OPS_MANAGER_URL: ${{ secrets.MONGODB_ATLAS_BASE_URL }}
# === OK_EDIT: path-sync header ===
# Add module specific env-vars here

jobs:
  # === DO_NOT_EDIT: path-sync job-validate ===
  validate-regions:
    name: Validate Region Mappings
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/setup
        with:
          just: 'true'
          uv: 'true'
          terraform: 'true'
      - name: Setup AtlasCLI
        uses: mongodb/atlas-github-action@v0.2.0

  # === OK_EDIT: path-sync job-validate ===
      - uses: google-github-actions/auth@c200f3691d83b41bf9bbd8638997a462592937ed # v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}
      - uses: google-github-actions/setup-gcloud@e427ad8a34f8676edf47cf7d7925499adf3eb74f # v2
      - name: Validate regions
        run: just validate-regions-gcp
    permissions:
      id-token: write
      contents: read

  slack-notification:
    needs: [validate-regions]
    if: ${{ github.event_name == 'schedule' && !cancelled() && contains(needs.*.result, 'failure') }}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Send Slack message
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            {
              "text": "${{ github.event.repository.name }}: Validate Region Mappings scheduled run failed",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":x: *${{ github.event.repository.name }}: Validate Region Mappings scheduled run failed* ${{ secrets.SLACK_ONCALL_TAG }} <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View failed run>"
                  }
                }
              ]
            }
